.side-bar
  .side-bar__user-name
    .top-icon
      = current_user.name
      = link_to "#", class: "fas fa-cog" do
        = icon('fab', 'fa-cog')
      = link_to "edit_user_path(current_user", class: "far fa-edit" do
        = icon('far', 'fa-edit')

  .side-bar__group-list
    %p.name techcamp
    %p.message まだメッセージがありません
